


<nav>
  <a href="/"><img src="../../public/dragon-solid.png" height="63px"></a>
  <ul class="nav_main">
    <a href="/myPage"><li>myPage</li></a>
   <a href="/write"><li>write</li></a>
    <a href="/list/1"><li>list</li></a>
  </ul>
  <ul class="login_nav">
    <a href="/login"><li>login</li></a>
    <a href="/signUp"><li>signUp</li></a>
  </ul>
</nav>